version: '3.8'

services:
  streamlit-app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ${ENV_FILE_PATH:-.env}
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    command: ["streamlit", "run", "app.py", "--server.port=8501", "--server.address=0.0.0.0"]